{% extends 'accounts/base.html  '%}

{% block content %}
	{% include 'accounts/status.html  '%}
	
	<div class="row">
		<div class="col-md-5">
			<h5>CUSTOMER:</h5>
			<hr>
			<div class="card card-body">
				<a href="" class="btn btn-primary btn-sm btn-block">Create Customer</a>
				<div class="table table-sm">
					<tr>
						<th>
							<th>Customer</th>
							<th>Order</th>
						</th>
					</tr>
				</div>
			</div>
		</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a href="" class="btn btn-primary btn-sm btn-block">Create Order</a>
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Update</th>
					<th>remove</th>
				</tr>
			</table>
		</div>
	</div>
</div>

{% endblock content %}
